<launch>

   <arg name="display_cam" default="true" />
  <!-- Spawn Image Transport node -->
  <node name="republish" pkg="image_transport" type="republish" output="screen"
    args="compressed in:=/raspicam_node/image raw out:=/camera/rgb/image_raw"
    if="$(arg display_cam)" />

  <node pkg="raspicam_image_proc" name="gaussian_blur" type="gaussian_blur.py" output="screen">
    <remap from="input_rgb_image" to="/camera/rgb/image_raw" />
  </node>

</launch>
